.applicationCardContainer {
  composes: cardContainer from './utils.module.scss';
}

.callToAction__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  min-height: 20em;
}

.callToAction {
  text-align: center;
}

.authLink__Container {
  background-color: var(--light-shades);
  padding: 1em;
  border-radius: var(--border-radius);
}
