.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--dark-shades);
}

@media screen and (max-width: 321px) {
  .container {
    padding: 0;
  }
}

.main {
  h1 {
    color: var(--light-shades);
  }

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.h2container {
  width: auto;
  text-align: center;
  color: var(--light-shades);
}
