.pageContainer {
  // background-color: red;
}
.card {
  // background-color: var(--main-brand-color);
  margin: 0;
  padding: 0.25em;
  min-width: 10em;
  min-height: 20em;
  font-size: 24px;
  transition: var(--bouncy-transition);
  &First {
    @extend .card;
    background-color: var(--light-grey);
  }
  &Second {
    @extend .card;
    background-color: var(--main-brand-color);
  }
}

@media only screen and (min-width: 768px) {
  .img-banner {
    display: block;
    width: 100%;
    padding-bottom: 30px;
  }
  .wrapper {
    width: 600px;
    margin: 0 auto;
  }
  .img-info h2 {
    padding: 20px 0px 0px;
  }
  .img-info p {
    padding: 20px 0px 0px;
  }
  .img-me {
    padding-top: 30px;
  }
}
