.cardContainer {
  background-color: #1bd760;
  border-radius: var(--border-radius);
  margin: 0.5rem;
  padding: 0.25em;
  min-width: 10em;
  min-height: 20em;
  font-size: 24px;
  transition: var(--bouncy-transition);
  @media screen and (max-width: 414px) {
    margin: 0.1em;
    min-width: 2em;
    font-size: inherit;
  }
}
